body {
	background-color:    #404040;
}

.cont {
	padding: 50px;
	color: white;
}

.contheader {
	padding: 20px;
	color: white;
	background-color:  #262626;
}

.upload {
	background-color:  #262626;
	color: white;
	padding: 20px;
}

table, .contheader, .upload { 
box-shadow: 0 4px 4px 0 black, 0 6px 8px 0 black;
}
